* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #323440;
    font-family: Helvetica, Arial, sans-serif;   
  }

/* header begin */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#323440;
    padding-top: .5em;
    padding-bottom: .5em;
  }

.nav_links {
      list-style: none;
  }

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 22px;
    text-decoration: none;
  }

header h1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: bold;
    color: #323440;   
    border-color: #33C9FF;
    background-color: #33C9FF;
  }

header a {
      text-decoration: none;
      color: #33C9FF;
  }

.name {
    color: #323440; 
    margin-left: 3em;
    padding-right: .3em;
}

  /* hero style start */
  .hero {
    background-image: url(../assets/images/hero-bg.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* hero style end */

.hero-form {
  background-color: #33C9FF;
  color: #323440;
  padding: 5px;
  width: 309px;
  border-style: solid;
  border-width: 3px;
  border-color: #323440;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0px;  
}

.main-content {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 4em;
}

.intro {
  display: grid;
  grid-template-columns: 20% 80%;
}

.section-title {
  text-align: right;
  padding-right: 3em;
  border-right: 5px solid;
  margin-right: 1em;
}

.section {
  margin-bottom: 1em;
}

.run-buddy {
  position: relative;
}

.run-buddy img, .twitter img, .amazon img, .horiseon img {
  width: 90%;
  border: #323440 solid 5px;
  padding: .001px;
}

.run-buddy div, .amazon div, .twitter div, .horiseon div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: #323440;
  color: white;
  bottom: 100px;  
  width: 25%;
  font-size: 15px;    
}

.project-label {
  font-size: 25px;
  font-weight: bold;
  text-decoration: italic;
}

footer {
  background: #323440;
  width: 100%;
  padding: 40px 118px;
}

footer h2 {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  color: #33C9FF;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: left;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #33C9FF;
  display: inline;
  position: relative;
  text-align: left; 
}



